<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".sample_8.MultipleConstraintSet"
            android:exported="false" />
        <activity
            android:name=".sample_7.ComplexMovingPath"
            android:exported="false" />
        <activity
            android:name=".sample_6.ChangeCustomAttributes"
            android:exported="false" />
        <activity
            android:name=".sample_5.ChangeAttributes"
            android:exported="false" />
        <activity
            android:name=".sample_4.MovingSunNonLinear"
            android:exported="false" />
        <activity
            android:name=".sample_3.MovingSun"
            android:exported="false" />
        <activity
            android:name=".sample_2.AndroidIsTheStar"
            android:exported="false" />
        <activity
            android:name=".sample_1.MoveObjectByClick"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".sampleCompose.ComposeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>